<?xml version="1.0"?>
<robot>

  <transmission name="zlift_j0_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="zlift_j0">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="zlift_j0_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  
</robot>


