<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <xacro:property name="M_PI" value="3.1415926535897931" />

  <xacro:macro name="inertial_cuboid_with_pose" params="mass x_length y_length z_length *origin">
    <inertial>
      <xacro:insert_block name="origin"/>
      <mass value="${mass}" />
      <inertia ixx="${(1/12) * mass * (y_length*y_length + z_length*z_length)}" ixy="0.0" ixz="0.0"
               iyy="${(1/12) * mass * (x_length*x_length + z_length*z_length)}" iyz="0.0"
               izz="${(1/12) * mass * (x_length*x_length + y_length*y_length)}" />
    </inertial>
  </xacro:macro>
 
  <xacro:macro name="meka_base" params="side parent reflect *origin">

     <joint name="fixed_base_joint" type="fixed">
      <xacro:insert_block name="origin" /> 
      <child link="fixed_base"/>
      <parent link="${parent}"/>
    </joint>

  <link name="fixed_base">
	  <xacro:inertial_cuboid_with_pose mass="120.0" x_length="0.6" y_length="0.4" z_length="0.5">
      <origin xyz="-0.10 0 0.2" rpy="0 0 0" />
    </xacro:inertial_cuboid_with_pose> 
	  <visual>
		  <material name="GreyC" />
		  <origin xyz="0 0 0" rpy="0 0 0" />
		  <geometry name="b1r1_3_geom">
			  <mesh filename="package://${MESH}/B1R1/meka_mobile_base+backpack.dae" /> <!-- B1R1/MB1_00_000_meka_mobile_base+backpack+zlift.dae -->
		  </geometry>
	  </visual>
	  <visual>
		  <material name="GreyC" />
		  <origin xyz="0.17654 0 0.32141" rpy="0 0 0" />
		  <geometry name="b1r1_3_geom">
			  <mesh filename="package://${MESH}/B1R1/meka_zlift.dae" /> <!-- B1R1/MB1_00_000_meka_mobile_base+backpack+zlift.dae -->
		  </geometry>
	  </visual>
	  <collision>
		  <origin xyz="0 0 0.2" rpy="0.0 0.0 0.0 " />
		  <geometry>
			  <box size="0.46 0.46 0.25" />
		  </geometry>
	  </collision>
    <collision>
		  <origin xyz="0 0 0.2" rpy="0.0 0.0 0.0 " />
		  <geometry>
			  <box size="0.68 0.27 0.25" />
		  </geometry>
	  </collision>
    <collision>
		  <origin xyz="0.23 0.12 0.165" rpy="0.0 0.0 0.0 " />
		  <geometry>
			  <cylinder length="0.325" radius="0.11" />
		  </geometry>
	  </collision>
    <collision>
		  <origin xyz="0.23 -0.12 0.165" rpy="0.0 0.0 0.0 " />
		  <geometry>
			  <cylinder length="0.325" radius="0.11" />
		  </geometry>
	  </collision>
    <collision>
		  <origin xyz="-0.23 0.12 0.275" rpy="0.0 0.0 0.0 " />
		  <geometry>
			  <cylinder length="0.55" radius="0.11" /> <!-- l 0.48 -->
		  </geometry>
	  </collision>
    <collision>
		  <origin xyz="-0.23 -0.12 0.275" rpy="0.0 0.0 0.0 " />
		  <geometry>
			  <cylinder length="0.55" radius="0.11" />  <!-- l 0.48 -->
		  </geometry>
	  </collision>
    <collision>
		  <origin xyz="-0.13 0 0.4375" rpy="0.0 0.0 0.0 " />
		  <geometry>
			  <box size="0.20 0.46 0.225" />
		  </geometry>
	  </collision>
    <collision>
		  <origin xyz="-0.23 0 0.4375" rpy="0.0 0.0 0.0 " />
		  <geometry>
			  <box size="0.22 0.27 0.225" />
		  </geometry>
	  </collision>
     <!-- zlift -->
    <collision>
		  <origin xyz="0.06 0 0.95" rpy="0.0 0.0 0.0 " />
		  <geometry>
			  <box size="0.22 0.1 1.2" />
		  </geometry>
	  </collision>
  </link>

  </xacro:macro>


</robot>
