<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">
 
  <xacro:macro name="meka_base" params="parent *origin">

    <joint name="fixed_base_joint" type="fixed">
      <insert_block name="origin" /> 
      <parent link="${parent}"/>
      <child link="fixed_base"/>
    </joint>

    <link name="fixed_base">
	  <xacro:inertial_cuboid_with_pose mass="100.0" x_length="0.67" y_length="0.46" z_length="0.25">
          <origin xyz="-0.0 0 0.20" rpy="0 0 0" />
      </xacro:inertial_cuboid_with_pose> 
	  <visual>
		  <material name="GreyC" />
		  <origin xyz="0 0 0" rpy="0 0 0" />
		  <geometry name="b1r1_3_geom">
			  <mesh filename="package://${MESH}/B1R1/meka_mobile_base+backpack.dae" />
		  </geometry>
	  </visual>
	  <visual>
		  <material name="GreyC" />
		  <origin xyz="0.17654 0 0.32141" rpy="0 0 0" />
		  <geometry name="b1r1_3_geom">
			  <mesh filename="package://${MESH}/B1R1/meka_zlift.dae" />
		  </geometry>
	  </visual>
	  <collision>
		  <origin xyz="0 0 0.2" rpy="0.0 0.0 0.0 " />
		  <geometry>
			  <box size="0.46 0.46 0.25" />
		  </geometry>
	  </collision>
    <collision>
		  <origin xyz="0 0 0.2" rpy="0.0 0.0 0.0 " />
		  <geometry>
			  <box size="0.68 0.27 0.25" />
		  </geometry>
	  </collision>
    <collision>
		  <origin xyz="0.23 0.12 0.265" rpy="0.0 0.0 0.0 " />
		  <geometry>
			  <cylinder length="0.325" radius="0.11" />
		  </geometry>
	  </collision>
    <collision>
		  <origin xyz="0.23 -0.12 0.265" rpy="0.0 0.0 0.0 " />
		  <geometry>
			  <cylinder length="0.325" radius="0.11" />
		  </geometry>
	  </collision>
    <collision>
		  <origin xyz="-0.23 0.12 0.375" rpy="0.0 0.0 0.0 " />
		  <geometry>
			  <cylinder length="0.55" radius="0.11" /> <!-- l 0.48 -->
		  </geometry>
	  </collision>
    <collision>
		  <origin xyz="-0.23 -0.12 0.375" rpy="0.0 0.0 0.0 " />
		  <geometry>
			  <cylinder length="0.55" radius="0.11" />  <!-- l 0.48 -->
		  </geometry>
	  </collision>
    <collision>
		  <origin xyz="-0.13 0 0.4375" rpy="0.0 0.0 0.0 " />
		  <geometry>
			  <box size="0.20 0.46 0.225" />
		  </geometry>
	  </collision>
    <collision>
		  <origin xyz="-0.23 0 0.4375" rpy="0.0 0.0 0.0 " />
		  <geometry>
			  <box size="0.22 0.27 0.225" />
		  </geometry>
	  </collision>
     <!-- zlift -->
    <collision>
		  <origin xyz="0.06 0 0.95" rpy="0.0 0.0 0.0 " />
		  <geometry>
			  <box size="0.22 0.1 1.2" />
		  </geometry>
	  </collision>
  </link>
  
    <joint name="backpack_joint" type="fixed">
      <insert_block name="origin" /> 
      <parent link="fixed_base"/>
      <child link="backpack"/>
      <origin xyz="-0.185 0 0.36" rpy="0 0 0" />
    </joint>
    <link name="backpack">
	  <xacro:inertial_cuboid_with_pose mass="10.0" x_length="0.3" y_length="0.46" z_length="0.22">
          <origin xyz="0 0 0.0" rpy="0 0 0" />
      </xacro:inertial_cuboid_with_pose> 
    </link>

  </xacro:macro>


</robot>
