<?xml version="1.0"?>
<robot 
	xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor" 
	xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller" 
	xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
	xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

 	<xacro:arg name="hand_mimic" default="true"/> 
 	<xacro:arg name="torso_mimic" default="true"/>
 	
    <xacro:property name="base_link" value="base_link" /> 

    <xacro:macro name="inertial_cuboid_with_pose" params="mass x_length y_length z_length *origin">
        <inertial>
          <xacro:insert_block name="origin"/>
          <mass value="${mass}" />
          <inertia ixx="${(1/12) * mass * (y_length*y_length + z_length*z_length)}" ixy="0.0" ixz="0.0"
                   iyy="${(1/12) * mass * (x_length*x_length + z_length*z_length)}" iyz="0.0"
                   izz="${(1/12) * mass * (x_length*x_length + y_length*y_length)}" />
        </inertial>
    </xacro:macro>
    
  	<!-- synergy vector -->
  	<xacro:property name="torso_coupling" value="1.0" />

	<material name="GreyA">
		<color rgba="0.3 0.3 0.3 1.0"/>
	</material>
	<material name="GreyB">
		<color rgba="0.5 0.5 0.5 1.0"/>
	</material>
	<material name="GreyC">
		<color rgba="0.7 0.7 0.7 1.0"/>
	</material>

    <link name="${base_link}">
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <box size="0.8 0.6 0.025"/>
          </geometry>
        </collision>
	</link>

	<joint name="laser_front_joint" type="fixed"> 
	  <origin xyz="0.306 0.0 0.4" rpy="0 0 0" />
      <child link="laser_front"/>
      <parent link="${base_link}"/>
    </joint>

	<link name="laser_front"> 
	</link>
	
	<joint name="laser_rear_joint" type="fixed"> 
	  <origin xyz="-0.306 0.0 0.4" rpy="0 0 ${M_PI}" />
      <child link="laser_rear"/>
      <parent link="${base_link}"/>
    </joint>

	<link name="laser_rear"> 
	</link>

	<!-- macro inserts -->
    <meka_base parent="${base_link}">
		<origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	</meka_base>
	
	<!-- zlift -->
	<xacro:if value="$(arg _zlift)">
	    <meka_zlift parent="${base_link}">
		    <origin xyz="0.17513 0.0 0.43" rpy="0 0 0" />
		    <!-- 0.33 0.0 0.45 rpy="0 0.0236 0" -->
	    </meka_zlift>
	    <m3_zlift_transmission />
	    <!-- torso -->
	    <xacro:if value="$(arg _torso)">
	        <meka_torso parent="zlift_link">
		        <origin xyz="0.263 0.0 0.006" rpy="0 0 0" />
	        </meka_torso>
	        <m3_torso_transmission />
	
	        <xacro:if value="$(arg _head)">
	            <m3_head parent="upper">
		            <origin xyz="0.0 0.0 0.2757" rpy="0 0 0" />
	            </m3_head>
	            <m3_head_transmission />
	        </xacro:if>
	
	        <xacro:if value="$(arg _r_arm)">
	            <m3_arm side="R" lr="right" reflect="1" rotate="0" parent="upper">
		            <origin xyz="0.0 -0.18465 0.2337" rpy="0 0 0" />
	            </m3_arm>
	            <!-- transmissions inserted in arm urdf -->
	            <xacro:if value="$(arg _r_hand)">
	                <m3_hand lr="right" reflect="-1" parent="handmount_right" use_mimic="$(arg hand_mimic)">
		                <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	                </m3_hand>
	            <!-- transmissions inserted in hand urdf -->
	            </xacro:if>
	        </xacro:if>
	
	        <xacro:if value="$(arg _l_arm)">
	            <m3_arm side="L" lr="left" reflect="-1" rotate="1" parent="upper">
		            <origin xyz="0.0 0.18465 0.2337" rpy="0 0 0" />
	            </m3_arm>
	            <!-- transmissions inserted in arm urdf -->
	
	            <xacro:if value="$(arg _l_hand)">
	                <m3_hand lr="left" reflect="1" parent="handmount_left" use_mimic="$(arg hand_mimic)">
		                <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	                </m3_hand>
	                <!-- transmissions inserted in hand urdf -->
                </xacro:if>
	        </xacro:if>
	        
        </xacro:if>
    </xacro:if>
	
	<xacro:if value="$(arg _caster_hubs)">
        <m3_caster_hub l="0.2678" alpha="${M_PI/6}" fb="front" lr="right" parent="${base_link}" />
        <m3_caster_hub l="0.2678" alpha="${-M_PI/6}" fb="front" lr="left" parent="${base_link}" />
        <m3_caster_hub l="0.2678" alpha="${5*M_PI/6}" fb="back" lr="right" parent="${base_link}" />
        <m3_caster_hub l="0.2678" alpha="${-5*M_PI/6}" fb="back" lr="left" parent="${base_link}" /> 
    </xacro:if>

    <m3_wheel l="0.2678" alpha="${M_PI/6}" fb="front" lr="right" parent="${base_link}" />
    <m3_wheel l="0.2678" alpha="${5*M_PI/6}" fb="back" lr="right" parent="${base_link}" />
    <m3_wheel l="0.2678" alpha="${-5*M_PI/6}" fb="back" lr="left" parent="${base_link}" /> 
    <m3_wheel l="0.2678" alpha="${-M_PI/6}" fb="front" lr="left" parent="${base_link}" />
	

</robot>
