<launch>
  <!-- param robot_description has to be defined before including thios -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model meka -param robot_description"/> 
   
  <!--node name="spawn_meka_model" pkg="gazebo_ros" type="spawn_model" args="$(optenv ROBOT_INITIAL_POSE) -x 2 -y 2 -z 0.00 -urdf -model meka -param robot_description" respawn="false" output="screen"/--> 
  
  <!-- full js pub -->
 <node pkg="joint_state_publisher" type="joint_state_publisher" output="screen" name="meka_joint_state_publisher">
   <rosparam param="source_list">["/meka_roscontrol/joint_states"] </rosparam>
   <rosparam param="rate">50</rosparam>
 </node>
  
  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="20.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

</launch>
