<launch>

  <param name="robot_description" textfile="$(find meka_description)/robots/bie.xml"/>

  <!-- <node name="meka_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model meka" /> -->
  <!-- spawner tries to resolve all package urls in comments while xacro is not replacing xacro params in comments.
    so we have to generate the urdf and remove all comments to be useable with the spawner
    
    > rosrun xacro xacro bie.urdf.xacro > bie.urdf      
    > xmlstarlet ed -d '//comment()' bie.urdf > bie.xml

  -->
  <!--node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model meka -param robot_description"/--> 
   
  <node name="spawn_meka_model" pkg="gazebo_ros" type="spawn_model" args="$(optenv ROBOT_INITIAL_POSE) -x 2 -y 2 -z 0.00 -urdf -model meka -param robot_description" respawn="false" output="screen"/> 
  
  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="20.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

</launch>
