<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="meka" >

    <xacro:arg name="_head" default="false"/>
    <xacro:arg name="_r_arm" default="false"/>
    <xacro:arg name="_l_arm" default="false"/>
    <xacro:arg name="_r_hand" default="false"/>
    <xacro:arg name="_l_hand" default="false"/>
    <xacro:arg name="_torso" default="false"/>
    <xacro:arg name="_zlift" default="false"/>
    <xacro:arg name="_caster_hubs" default="true"/>

  <xacro:property name="hw_interface" value="hardware_interface/PositionJointInterface" />
    
  <xacro:property name="M_PI" value="3.1415926535897931" />
  <xacro:property name="MESH" value="meka_description/meshes/mid_res" />
  <xacro:property name="MESH_COLL" value="meka_description/meshes/low_res" />

  <!-- generic simulator_gazebo plugins for starting mechanism control, ros time, ros battery -->
  <xacro:include filename="$(find meka_description)/gazebo/gazebo.urdf.xacro" />

  <!-- Meka Basics -->
  <xacro:include filename="$(find meka_description)/urdf/MEKA_BASIC.urdf.xacro" />

  <!-- Meka Base -->
  <xacro:include filename="$(find meka_description)/urdf/B1R2B_defs.urdf.xacro" />

  <!-- Meka Zlift -->
  <xacro:include filename="$(find meka_description)/urdf/Z1R2_zlift_defs.urdf.xacro" />
  <xacro:include filename="$(find meka_description)/transmissions/Z1R2_zlift.transmission.xacro" />

  <!-- Meka Torso -->  
  <xacro:include filename="$(find meka_description)/urdf/T2R3_torso_defs.urdf.xacro" /> 
  <xacro:include filename="$(find meka_description)/transmissions/T2R3_torso.transmission.xacro" /> 

  <!-- Meka Arm -->
  <xacro:include filename="$(find meka_description)/urdf/A2R4_arm_defs.urdf.xacro" />
  <xacro:include filename="$(find meka_description)/transmissions/A2R4_arm_defs.transmission.xacro" />

  <!-- Meka Hand -->
  <xacro:include filename="$(find meka_description)/urdf/H2R4_hand_defs.urdf.xacro" /> 
  <xacro:include filename="$(find meka_description)/transmissions/H2R4_hand.transmission.xacro" />

  <!-- Meka Head -->
  <xacro:include filename="$(find meka_description)/urdf/S3R1_head_defs.urdf.xacro" />
  <xacro:include filename="$(find meka_description)/transmissions/S3R1_head.transmission.xacro" />

  <!-- Import asus>
  <xacro:include filename="$(find meka_description)/urdf/asus_camera.urdf.xacro" / -->   

  <!--xacro:asus_camera name="xtion" parent="shell">
    <origin xyz="0.12 0 0.06" rpy="0 0 0"/>
  </xacro:asus_camera--> 

  <!-- Extra Wheels -->
  <xacro:include filename="$(find meka_description)/urdf/wheel_defs.urdf.xacro" />

</robot>
  
