<launch>

<node name="shm_humanoid_controller" pkg="shm_humanoid_controller" type="shm_humanoid_controller" respawn="true" output="screen">            
  </node>

<node name="shm_loadx6_publisher" pkg="shm_loadx6_publisher" type="shm_loadx6_publisher" respawn="true" output="screen">       
  </node>
  
<node name="shm_omnibase_controller" pkg="shm_omnibase_controller" type="shm_omnibase_controller" respawn="true" output="screen">       
  </node>

<node name="shm_zlift_controller" pkg="shm_zlift_controller" type="shm_zlift_controller" respawn="true" output="screen">       
  </node>

<node name="shm_pwr_state_omnibase" pkg="shm_pwr_state_omnibase" type="shm_pwr_state_omnibase" respawn="true" output="screen">       
  </node>

<!--<node name="meka_ik" pkg="meka_ik" type="meka_ik.py" respawn="true" output="screen">       
  </node>

<node name="meka_fk" pkg="meka_ik" type="meka_fk.py" respawn="true" output="screen">       
  </node>

  
<node name="joint_collect" pkg="joint_collect" type="joint_collect_publish.py" respawn="true" output="screen">       
  </node>-->
  
</launch>