<library path="src">
  <class name="M3Dashboard" type="rqt_m3dashboard.m3dashboard.M3Dashboard" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin to interact with the robot state
    </description>
    <qtgui>
      <group>
        <label>Robot</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to specific robots.</statustip>
      </group>
      <label>M3 Dashboard</label>
      <icon type="theme">task-past-due</icon>
      <statustip>A Python GUI plugin to interact with the robot state.</statustip>
    </qtgui>
  </class>
</library>
